
  .item {
      color: black;
  }
  .text {
    color: teal;
  }
  .item img {
    width: 50px;
    height: 50px;
   border-radius: 40px;
  }
  .like {
    color:blue;
  }
 .number {
    color: red;
  }
  .message {
    color: chocolate;
  }