.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}
/* .dialogs  {
    padding: 10px;
    color: blue;
} */


.messages {
    padding: 10px;
color: blue;
}
.item img {
    width: 40px;
    height: 40px;
    border-radius: 30px;
}
