.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.DialogItem {
    padding: 10px;
    color: black;

}

.dialog{
}
.dialogs .active {
    
}

.messages {
    padding: 10px;

}
.dialogs .message {
    
column-rule: blue;
}